.container {
  width: 100%;
  padding: 26px 16px;
}

.name {
  text-align: center;
}

.group {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

input {
  padding: 10px 6px;
}

button {
  padding: 10px 6px;
}

.total {
  margin-top: 12px;
  width: 100%;
}

h4 {
  margin-top: 12px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.remove {
  margin-left: 12px;
}

.detail {
  margin-top: 20px;
}

.reset {
  margin-top: 26px;
  width: 100%;
  display: block;
}

.list1 span{
  color: red;
}